#h {
	position: fixed;
	top: 25px;
	left: 300px;
}
#x {
	position: fixed;
	height: 100px;
	width: 80px;
	background-color: pink;
	 border-radius:5px;
	 top: 80px;
	 left: 230px;
}
* {
	padding: 0;
	margin: 0;
}
#y {
	position: fixed;
	height: 105px;
	width: 80px;
	background-color: pink;
	border-radius: 5px;
	top: 80px;
	left: 430px;
}
#z {
	position: fixed;
	height: 100px;
	width: 80px;
	background-color: pink;
	 border-radius:5px;
	 top: 300px;
	 left: 230px;
}
#q {
	position: fixed;
	height: 100px;
	width: 80px;
	background-color: pink;
	border-radius: 5px;
top: 300px;
	left: 430px;
}
#tom {
	position: fixed;
	height: 500px;
	width: 500px;
	border-radius: 20px;
	background-color: green;
	top: 25px;
	left: 120px;
}
#o {
	position: fixed;
	top: 100px;
	left: 232px;
}
#sub {
	position: fixed;
	top: 100px;
	left: 700px;
}
h1 {
	font-family: "Merriweather";
}
h2 {
	font-family: "Merriweather";
}
